.section-accordion {
  background-color: #f7f7f7;
  padding-block: 50px;
}
.section-accordion .details {
  background-color: #f7f7f7;
  cursor: pointer;
  padding-inline: 12px;
}
.section-accordion .details__summary {
  background-color: #f7f7f7;
}
.section-accordion .section-heading {
  line-height: 42px;
  font-size: clamp(24px, 4vw, 42px);
    font-weight: 500;
    letter-spacing: -1.25px;
}
