#shop-by-categories{
  font-size : clamp(32px, 4vw, 56px);
  font-weight: 500;
  letter-spacing: -1.25px;
}
.section-collection-list .collection-loop__title{
  font-size: clamp(12px,4vw,20px);
}
.section-collection-list .collection-loop__info {
  display: flex;
  align-items: center;
    justify-content: space-between;
}