.product-page .h2{
  line-height: 60px;
  padding-top: 0;
  font-size: clamp(24px, 4vw, 42px);
    font-weight: 500;
    letter-spacing: -1.25px;
}
.product-page .price-item{
  font-family: var(--main-family);
  font-size: 21px;
}
.product-page .swatches__option-name{
  font-size: 14px !important;
}
.product-page .swatches__option-value{
  font-size: 14px !important;
}
.product__section--main .product__quantity--selector{
  width: 100%;
  justify-content: space-between;
  background: transparent !important;
}
.product-qty{
  background-color: transparent !important;
}
.add-item.add{
  background-color: #A5874A;
  color: #ffffff;
  max-width: 100%;
}
.ajax-submit, .product-additional-buttons, .product-additional-buttons .shopify-payment-button__button--unbranded {
    max-width: 100% !important;
}
.shopify-payment-button__button{
  max-width: 100% !important;
}
.pt-tab-btn{
  margin-bottom: 0;
}