.collection-list {
  margin-top: 0;
  margin-bottom: 0;
}
.collection-list .card--standard.card--media .card__inner .card__information{
  display: block;
}
.collection-list-title {
  margin: 0;
}
.collection-list .card__caption{
  display: none;
}
.collection-list-title.center {
  width: 100%;
  text-align: center;
}
.collection-list-wrapper .title-wrapper-with-link {
  justify-content: flex-start;
  margin-bottom: 2.5rem;
}
.collection-list.slider {
  position: relative;
  flex-wrap: inherit;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding-left: 1rem;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
}
.collection-list-wrapper .coll-tag-line{
  color: rgb(var(--color-button));
  padding: 1.2rem 7rem 1.2rem 1.2rem;
}
.collection-list-wrapper .collection-list-para {
  color: #4a5565;
  width: 100%;
}
.collection-list-para > p {
  margin: 0;
}
.collection-list-btn .svg-wrapper {
  width: 15px;
  /* height: 15px; */
}
.collection-list-btn .svg-wrapper path{
  fill: #FFD000;
}
.full-unstyled-link.collection-list-btn{
  color: #FFD000 !important;
  display: flex;
  gap: 0.7rem;
}
.collection-list.slider {
  margin-bottom: 0;
}
.collection-list.slider--tablet:after {
  content: "";
  width: 0;
  padding-left: 1.5rem;
  margin-left: calc(-1 * var(--grid-desktop-horizontal-spacing));
}
.scroll-trigger:not(.scroll-trigger--offscreen)
  .collection-list.slider--tablet {
  animation: var(--animation-slide-in);
}
.collection-list .card > .card__content .full-unstyled-link {
  /* color: rgb(var(--color-button)); */
  color: #ffffff;
  width: fit-content;
  padding: 1.2rem;
  padding-right: 7rem;
  border-radius: var(--collection-card-corner-radius);
  transition: all ease-in-out 0.2s;
}
.collection-list .card > .card__content .card__heading {
  color: rgb(var(--color-button));
  width: fit-content;
  padding: 1.2rem;
  padding-right: 7rem;
}
.collection-list .card-wrapper:hover .full-unstyled-link{
  background-color: #48a648;
}
.collection-list .card > .card__content .full-unstyled-link.collection-list-btn:hover {
  color: #ffffff !important;
}
.collection-list .card > .card__content .full-unstyled-link.collection-list-btn:hover .svg-wrapper path{
  fill: #ffffff;
}
.collection-list .card > .card__content .full-unstyled-link p {
  margin-bottom: 0.7rem;
  margin-top: 0;
}
.collection-list .card > .card__content {
  position: absolute;
  bottom: 0;
}

.collection-list-wrapper .slider-buttons > .slider-counter {
  display: none;
}
.collection-list-wrapper .slider-buttons .svg-wrapper {
  width: 100%;
  height: 100%;
}
.collection-list-wrapper
  .slider-buttons
  .slider-button:not([disabled="disabled"])
  path {
  stroke: #48a648;
  stroke-opacity: 1;
}
.collection-list .card--standard .card__inner:after {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* .collection-list-wrapper .slider-buttons .slider-button {
  width: 32px;
  height: 32px;
} */
@media screen and (min-width: 990px) {
  .collection-list-wrapper .slider-buttons {
    display: flex !important;
    position: absolute;
    top: -64px;
    right: 0;
  }
  .collection-list .card > .card__content .full-unstyled-link {
    min-width: 280px;
  }
  .collection-list .card > .card__content .full-unstyled-link.collection-list-btn{
    min-width: fit-content;
  }
}
@media screen and (max-width: 749px) {
  .collection-list:not(.slider) {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .page-width {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .collection-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.collection-list__item:only-child {
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .slider.collection-list--1-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider.collection-list--1-items,
  .slider.collection-list--2-items,
  .slider.collection-list--3-items,
  .slider.collection-list--4-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection-list__item a:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 989px) {
  .collection-list.slider .collection-list__item {
    max-width: 100%;
  }
}

.collection-list-view-all {
  margin-top: 2rem;
}
