@media (max-width: 767px) {
  .section-txt-cols__inner-wrapper:not(.flickity-enabled) {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
  }

  .section-txt-cols__inner-wrapper:not(.flickity-enabled)
    .section-txt-cols__item {
    flex: 0 0 auto;
    width: 270px !important;
    margin-right: 15px !important;
  }
}
.section-txt-cols__inner-wrapper .box-ratio {
  padding-bottom: 250px !important;
  border-radius: 10px;
}
/* Flickity specific overrides for this section */
.section-txt-cols .flickity-viewport {
  width: 100%;
}
.section-txt-cols .section-heading {
  font-size: clamp(24px, 4vw, 42px);
    font-weight: 500;
    letter-spacing: -1.25px;
  line-height: 42px;
  text-align: center;
}
.section-txt-cols .flickity-prev-next-button {
  background: var(--directional-bg);
  color: var(--directional-text);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  box-shadow: none;
  opacity: 1;
  transition:
    opacity 0.3s,
    background-color 0.3s;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.section-txt-cols .flickity-prev-next-button:hover {
  background: var(--directional-hover);
  opacity: 1;
}

.section-txt-cols .flickity-prev-next-button.previous {
  left: 10px;
  top: calc(50% - 44px) !important;
  transform: translateY(0) !important;
}

.section-txt-cols .flickity-prev-next-button.next {
  right: 10px;
  left: unset;
  top: calc(50% - 44px) !important;
  transform: translateY(0) !important;
}

.section-txt-cols .flickity-prev-next-button svg {
  width: 16px;
  height: 16px;
  fill: var(--directional-text);
}

.section-txt-cols__block-heading {
  word-break: break-all;
}
