.section-background-video .background-video__outer-wrapper {
  height: var(--section-height);
  display: inline-block;
  overflow: hidden;
}

.section-background-video .video-wrapper {
  padding-bottom: var(--section-height);
  aspect-ratio: 16 / 9;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.section-background-video .video-wrapper video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section-background-video .alternative--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.section-background-video .vidbg-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.section-background-video .background-video__caption {
  position: absolute;
  width: max-content;
  text-align: center;
  padding: var(--space-7);
  max-width: 600px;
  z-index: 2;
}

/* YouTube & Vimeo Styles */
:root {
  --video-width: 100vw;
  --video-height: 100vh;
}
@media (min-aspect-ratio: 16/9) {
  :root {
    --video-height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  :root {
    --video-width: 177.78vh;
  }
}
.section-background-video .alternative-iframe--wrapper {
  height: var(--section-height);
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.section-background-video .alternative-iframe--wrapper iframe {
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: var(--video-width);
  height: var(--video-height);
  transform: translate(-50%, -60%);
   z-index: -1;
}

/* ---- Mobile ---- */
@media (max-width: 768px) {
  .section-background-video .background-video__outer-wrapper,
  .section-background-video .alternative-iframe--wrapper {
    height: var(--section-height-mobile);
  }
  .section-background-video .video-wrapper {
    padding-bottom: var(--section-height-mobile);
  }
 .section-background-video .background-video__caption {
    width: 90%;
  }
  .section-background-video .alternative-iframe--wrapper iframe {
    height: 100%;
    min-width: var(--video-width);
  }
}